# .github/workflows/deploy.yml
name: Deploy Hugo site to Pages

on:
  # 当推送到 "main" 分支时触发
  push:
    branches:
      - main
  # 允许你手动在 "Actions" 标签页运行这个工作流
  workflow_dispatch:

# 设置 GITHUB_TOKEN 的权限，以便部署到 GitHub Pages
permissions:
  contents: read
  pages: write
  id-token: write

# 只允许一个并发部署，跳过排队中的旧任务
concurrency:
  group: "pages"
  cancel-in-progress: true

# 默认设置
defaults:
  run:
    shell: bash

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      HUGO_VERSION: "0.119.0" # 你可以选择一个 Hugo 版本
    steps:
      - name: Install Hugo CLI
        run: |
          wget -O ${{ runner.temp }}/hugo.deb https://github.com/gohugoio/hugo/releases/download/v${HUGO_VERSION}/hugo_extended_${HUGO_VERSION}_linux-amd64.deb \
          && sudo dpkg -i ${{ runner.temp }}/hugo.deb

      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: recursive # ！！！非常重要：拉取主题 (submodules)

      - name: Build with Hugo
        run: hugo --minify # 运行 hugo 命令构建网站

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: ./public # Hugo 默认的输出文件夹

  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
